td,
th {
  padding-bottom: 10px;
}

.tableBorder td, .tableBorder th {
  font-size: 12px;
  border-collapse: collapse;
  padding: 2px;
  border: 1px solid rgba(112, 111, 111, 0.671);
  padding-bottom: 12px !important;
  padding-left: 6px !important;
}

tbody tr td {
  white-space: nowrap;
  padding-bottom: 12px !important;
  padding-left: 6px !important;
}
 